AddDefaultCharset UTF-8
DefaultLanguage ru-RU

ErrorDocument 403 /go/403
ErrorDocument 404 /go/404

Options -Indexes

php_flag register_globals off
php_flag magic_quotes_gpc off

<Files log.txt>
Deny from all 
</Files>
<Files .git/>
Deny from all
</Files>
<Files *.sql>
Deny from all
</Files>
<Files *.md>
Deny from all
</Files>

<IfModule mod_rewrite.c>

    SetEnv HTTP_MOD_REWRITE On

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^worldofcubes\.ru$ [NC]
RewriteRule ^(.*)$ https://worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^worldsofcubes\.ru$ [NC]
RewriteRule ^(.*)$ https://worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^wocubes\.net$ [NC]
RewriteRule ^(.*)$ https://worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^wocubes\.ru$ [NC]
RewriteRule ^(.*)$ https://worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^unicubes\.ru$ [NC]
RewriteRule ^(.*)$ https://worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^beta\.worldsofcubes\.ru$ [NC]
RewriteRule ^(.*)$ https://beta.worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^beta\.worldofcubes\.ru$ [NC]
RewriteRule ^(.*)$ https://beta.worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^beta\.worldsofcubes\.ru$ [NC]
RewriteRule ^(.*)$ https://beta.worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^beta\.wocubes\.net$ [NC]
RewriteRule ^(.*)$ https://beta.worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^beta\.wocubes\.ru$ [NC]
RewriteRule ^(.*)$ https://beta.worldsofcubes.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^beta\.unicubes\.ru$ [NC]
RewriteRule ^(.*)$ https://beta.worldsofcubes.net/$1 [R=301,L]

RewriteRule ^news/([^/]+)/?$ index.php?id=$1 [L,NE]
RewriteRule ^category/([^/]+)/?$ index.php?cid=$1 [L,NE]
RewriteRule ^list/([^/]+)/?$ index.php?l=$1 [L,NE]
RewriteRule ^control/([^/]+)/?$ index.php?mode=control&do=$1 [L,NE]

RewriteRule ^go/([^/]+)/?$ index.php?mode=$1 [L,NE,QSA]
RewriteRule ^go/options/([\w]+)/?$ index.php?mode=options&result=$1 [L]

RewriteRule ^go/warnings/([^/]+)/?$ index.php?mode=warnings&user=$1 [L]

RewriteRule ^go/banlist/([^/]+)/?$ index.php?mode=banlist&page=$1 [L,NE]

RewriteRule ^go/user/([^/]+)/?$ index.php?mode=user&page=$1 [L,NE]
RewriteRule ^go/user/profile/([^/]+)/?$ index.php?mode=user&do=full&name=$1 [L,NE]
RewriteRule ^go/user/search/([^/]+)/?$ index.php?mode=user&search=$1 [L,NE]
RewriteRule ^go/user/search/([^/]+)/([^/]+)/?$ index.php?mode=user&search=$1&do=$2 [L,NE]
RewriteRule ^go/user/banned/([^/]+)/?$ index.php?mode=user&do=banned&p=$1 [L,NE]

RewriteRule ^go/users/([^/]+)/?$ index.php?mode=user&do=$1 [L,NE]
RewriteRule ^go/users/profile/([^/]+)/?$ index.php?mode=user&do=full&name=$1 [L,NE]
RewriteRule ^go/users/search/([^/]+)/?$ index.php?mode=user&search=$1 [L,NE]
RewriteRule ^go/users/search/([^/]+)/([^/]+)/?$ index.php?mode=user&search=$1&do=$2 [L,NE]
RewriteRule ^go/users/banned/([^/]+)/?$ index.php?mode=user&do=banned&p=$1 [L,NE]

RewriteRule ^go/my_projects/([^/]+)/?$ index.php?mode=my_projects&page=$1 [L,NE]

RewriteRule ^go/WoCAuth/([^/]+)/?$ index.php?mode=WoCAuth&do=$1 [L,NE]

RewriteRule ^go/projects/([^/]+)/?$ index.php?mode=projects&do=$1 [L,NE]
RewriteRule ^go/projects/list/([^/]+)/?$ index.php?mode=projects&do=list&page=$1 [L,NE]
RewriteRule ^go/projects/view/([^/]+)/?$ index.php?mode=projects&do=view&id=$1 [L,NE]
RewriteRule ^go/projects/edit/([^/]+)/?$ index.php?mode=projects&do=edit&id=$1 [L,NE]

RewriteRule ^go/project/([^/]+)/?$ index.php?mode=projects&do=$1 [L,NE]
RewriteRule ^go/project/list/([^/]+)/?$ index.php?mode=projects&do=list&page=$1 [L,NE]
RewriteRule ^go/project/view/([^/]+)/?$ index.php?mode=projects&do=view&id=$1 [L,NE]
RewriteRule ^go/project/edit/([^/]+)/?$ index.php?mode=projects&do=edit&id=$1 [L,NE]

RewriteRule ^go/pm/([^/]+)/?$ index.php?mode=pm&do=$1 [L,NE]
RewriteRule ^go/pm/inbox/([^/]+)/?$ index.php?mode=pm&do=inbox&page=$1 [L,NE]
RewriteRule ^go/pm/outbox/([^/]+)/?$ index.php?mode=pm&do=outbox&page=$1 [L,NE]
RewriteRule ^go/pm/write/([^/]+)/?$ index.php?mode=pm&do=write&name=$1 [L,NE]
RewriteRule ^go/pm/delete/([^/]+)/?$ index.php?mode=pm&do=delete&id=$1 [L,NE]
RewriteRule ^go/pm/view/([^/]+)/?$ index.php?mode=pm&do=view&id=$1 [L,NE]

RewriteRule ^go/pm/([^/]+)/?$ index.php?mode=pm&do=$1 [L,NE]
RewriteRule ^go/pm/inbox/([^/]+)/?$ index.php?mode=pm&do=inbox&page=$1 [L,NE]
RewriteRule ^go/pm/outbox/([^/]+)/?$ index.php?mode=pm&do=outbox&page=$1 [L,NE]
RewriteRule ^go/pm/write/([^/]+)/?$ index.php?mode=pm&do=write&name=$1 [L,NE]
RewriteRule ^go/pm/delete/([^/]+)/?$ index.php?mode=pm&do=delete&id=$1 [L,NE]
RewriteRule ^go/pm/view/([^/]+)/?$ index.php?mode=pm&do=view&id=$1 [L,NE]

RewriteRule ^go/forum/([^/]+)/?$ index.php?mode=forum&id=$1 [L,NE]
RewriteRule ^go/forum/topic/([\w]+)/?$ index.php?mode=forum&topic=$1 [L]

RewriteRule ^get/([^/]+)/?$ action.php?method=download&file=$1 [L,NE]

RewriteRule  ^authenticate$ MineCraft/auth16x.php [L]
RewriteRule  ^invalidate$ MineCraft/invalidate16x.php [L]
RewriteRule  ^refresh$ MineCraft/refresh16x.php [L]
RewriteRule  ^joinserver.jsp MineCraft/joinserver.php [L,NE]
RewriteRule  ^checkserver.jsp MineCraft/checkserver.php [L,NE]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?mode=404&route=%{REQUEST_URI}

</IfModule>
deny from 176.102.38.74
deny from 37.57.231.123